/* .v-toolbar_title {
    font-size: 26px !important;
    color: darkblue;
  } */

.mytitle {
    font-size: 1.5rem !important;
    /* font-weight: bold; */
    color: #034aff;
}

.mysearchfield{
    max-width: 400px;   
}
  
.my_data_table{        
    table-layout: fixed;
    word-break:break-all;
}

.v-datatable.v-table.theme--light{
    width: 100%;
    table-layout: fixed;
    padding-left: 0px;
    padding-right: 0px
}


/* .v-icon.material-icons.theme--light{
    
}

.mycontd{

} */

table.v-table thead th {
    background-color: rgb(253, 182, 94);
    font-size: 12px !important;
    border: 1px solid gold;
}

table.v-table tbody td {
    font-size: 12px !important;
    border: 1px solid rgb(226, 226, 226);}

table.v-table tbody tr:nth-child(odd){ background-color: white }
table.v-table tbody tr:nth-child(even){ background-color: rgb(238, 237, 237)}


progress{
    width: 370px;
    height: 25px;
}
